<div class="container">
  <div class="page-header">
    <h1>Ember Experiments</h1>
    <p class="lead">An app to experiment with different Ember.js features and modules</p>
  </div>


  {{outlet}}
</div>
